<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= club.name %></title>
  <link rel="stylesheet" href="/club-details.css" />

  <head>
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>


  </head>

  <body>
    <nav class="navbar">
    <div class="logo">ClubHUB</div>
    <ul class="nav-links">
      <li><a href="/clubs">Clubs</a></li>
      <li><a href="/events">Upcoming Events</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
    <div class="profile-icon">
      <img src="/images/profile-icon.jpg" alt="Profile" />
    </div>
  </nav>
 <div class="club-card">
  <div class="club-bg" style="background-image: url('<%= club.image %>');">
    <div class="club-overlay">
      <h1 class="club-name"><%= club.name %></h1>
      <p class="club-desc"><%= club.longDesc %></p>


      <div class="club-tags">
        <a href="https://www.linkedin.com/in/<%= club.linkedin %>" target="_blank" class="tag">
        <i class="fab fa-linkedin"></i> <%= club.linkedin %>
        </a>
        <a href="https://www.instagram.com/<%= club.instagram %>" target="_blank" class="tag">
        <i class="fab fa-instagram"></i> <%= club.instagram %>
        </a>
        <a href="mailto:<%= club.email %>" class="tag">
        <i class="fas fa-envelope"></i> <%= club.email %>
        </a>
</div>


      <div class="club-section-tags">
      <a class="section-tag">Team strength: <%= club.teamStrength %></a>
      <a href="/club/:_id/board" class="section-tag">The Board</a>
      <a href="/club/:_id/upcoming-events" class="section-tag">Upcoming Events</a>
      <a href="/club/:_id/past-events" class="section-tag">Past Events</a>
      <a href="/club/:_id/announcements" class="section-tag">Announcements</a>
</div>

<div class="join-button-container">
  <a href="#" class="join-btn">Join</a>
</div>

    </div>
  </div>
</div>
</div>

